.idea
.vscode
.DS_Store

# Environment variables
.env

# Dependencies
node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# v3-core repository
v3-core/

# Graph build files
build/
generated/
subgraph-*.yaml
subgraph.yaml

# Tests config and build files
tests/.bin
tests/*.json
matchstick.yaml

# Local history vscode extension
.history

# Other
src/helpers/constants.ts
